<aside class="left-side sidebar-offcanvas" style="min-height: 1172px; background: #f9f9f9;">
    <section class="sidebar" style="padding: 20px 15px; background: #f9f9f9;">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default" style="margin-top: 0px;">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#user-menu"
                           class="collapsed">
                            <span class="glyphicon glyphicon-user"> </span>
                            Company Info
                        </a>
                    </h4>
                </div>

                <div id="user-menu" class="panel-collapse collapse " style=" height: 0px;  ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="menu-item">
                                    <a href="#/diagnoseCompany"
                                       class="menu-link">

                                        <span class="glyphicon glyphicon-pencil "></span>
                                        Company Diagnosis
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin-top: 0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#assessment-menu"
                           class="">
                            <span class="glyphicon glyphicon-briefcase"> </span>
                            Diagnosis
                        </a>
                    </h4>
                </div>
                <div id="assessment-menu" class="panel-collapse collapse  in " style="  height: auto; ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="menu-item">
                                        <a href="#/diagnoseCompany"
                                           class="menu-link">
                                            <span class="glyphicon glyphicon-file "></span>
                                            Governance Diagnosis
                                        </a>
                                    </td>
                                </tr>

                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Tax Compliance Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->

                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Labour Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Safety and Health Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Standards Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Broad Based Black Economic Empowerment (B-BBEE) Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Production Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Sales and Marketing Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Information Technology Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Financial Controls and Management Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Intellectual Property Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/diagnoseCompany" class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-file "></span>-->
                                            <!--Risk Management Diagnosis-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</aside>