<aside class="left-side sidebar-offcanvas" style="min-height: 1172px; background: #f9f9f9;">
    <section class="sidebar" style="padding: 20px 15px; background: #f9f9f9;">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default" style="margin-top: 0px;">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#user-menu" class="">
                            <span class="glyphicon glyphicon-user"> </span>
                            Company Info
                        </a>
                    </h4>
                </div>
                <div id="user-menu" class="panel-collapse collapse  in " style="  height: auto; ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="menu-item">
                                        <a href="#/" class="menu-link">
                                            <span class="glyphicon glyphicon-pencil "></span>
                                            Add New Company
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="panel panel-default" style="margin-top: 0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#business-menu"
                           class="collapsed">
                            <span class="glyphicon glyphicon-th-large"> </span>
                            Administration
                        </a>
                    </h4>
                </div>
                <div id="business-menu" class="panel-collapse collapse " style=" height: 0px;  ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <!--<td class="menu-item">-->
                                        <!--<a href="#/"-->
                                           <!--class="menu-link">-->
                                            <!--<span class="glyphicon glyphicon-pencil "></span>-->
                                            <!--Add Business Partner-->
                                        <!--</a>-->
                                    <!--</td>-->

                                    <td class="menu-item">
                                        <a href="#/" class="menu-link">
                                            <span class="glyphicon glyphicon-pencil "></span>
                                            Add Business Partner
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="menu-item">
                                        <a href="#/adminList"
                                           class="menu-link">
                                            <span class="glyphicon glyphicon-pencil "></span>
                                            Add New Administrator
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="panel panel-default" style="margin-top: 0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#certificate-menu"
                           class="collapsed">
                            <span class="glyphicon glyphicon-book"> </span>
                            Certificates
                        </a>
                    </h4>
                </div>
                <div id="certificate-menu" class="panel-collapse collapse " style=" height: 0px;  ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="menu-item">
                                        <a href="http://197.242.146.106/entreprenosis/oras/selectViewBeneficiaryPartners?certStatus=NotCompleted"
                                           class="menu-link">
                                            <span class=""></span>
                                            In Progress
                                            <span class="label label-success"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="menu-item">
                                        <a href="http://197.242.146.106/entreprenosis/oras/selectViewBeneficiaryPartners?certStatus=Completed"
                                           class="menu-link">
                                            <span class=""></span>
                                            Completed
                                            <span class="label label-success"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin-top: 0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#report-menu"
                           class="collapsed">
                            <span class="glyphicon glyphicon-book"> </span>
                            Reports
                        </a>
                    </h4>
                </div>
                <div id="report-menu" class="panel-collapse collapse " style=" height: 0px;  ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="menu-item">
                                        <a href="http://197.242.146.106/entreprenosis/oras/selectViewDiagnosisPartners?reportName=DiagnosisSummary"
                                           class="menu-link">
                                            <span class=""></span>
                                            Diagnosis Summary
                                            <span class="label label-success"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="menu-item">
                                        <a href="http://197.242.146.106/entreprenosis/oras/selectViewBeePartners?reportName=BeeSummary"
                                           class="menu-link">
                                            <span class=""></span>
                                            BEE Summary Report
                                            <span class="label label-success"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="menu-item">
                                        <a href="http://197.242.146.106/entreprenosis/oras/otherReports" class="menu-link">
                                            <span class=""></span>
                                            Other
                                            <span class="label label-success"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Menu-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-12 col-md-12">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </section>
</aside>

