<aside class="left-side sidebar-offcanvas" style="min-height: 1172px; background: #f9f9f9;">
    <section class="sidebar" style="padding: 20px 15px; background: #f9f9f9;">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default" style="margin-top: 0px;">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#user-menu"
                           class="collapsed">
                            <span class="glyphicon glyphicon-user"> </span>
                            Personal Info
                        </a>
                    </h4>
                </div>

                <div id="user-menu" class="panel-collapse collapse " style=" height: 0px;  ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="menu-item">
                                    <a href="#/diagnoseCompany"
                                       class="menu-link">

                                        <span class="glyphicon glyphicon-pencil "></span>
                                        Entrepreneur Diagnosis


                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin-top: 0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="http://197.242.146.106/entreprenosis/oras/captureMemberMin#assessment-menu"
                           class="">
                            <span class="glyphicon glyphicon-briefcase"> </span>
                            Diagnosis
                        </a>
                    </h4>
                </div>
                <div id="assessment-menu" class="panel-collapse collapse  in " style="  height: auto; ">
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="menu-item">
                                    <a href="#/diagnoseCompany"
                                       class="menu-link">
                                        <span class="glyphicon glyphicon-file "></span>
                                        Character Diagnosis
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td class="menu-item">
                                    <a href="#/diagnoseCompany" class="menu-link">
                                        <span class="glyphicon glyphicon-file "></span>
                                        Business Support Skills Diagnosis
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td class="menu-item">
                                    <a href="#/diagnoseCompany" class="menu-link">
                                        <span class="glyphicon glyphicon-file "></span>
                                        Entrepreneur Traits Diagnosis
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</aside>