<div class="skin-blue wysihtml5-supported pace-done font-size-large" style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">



<!--<div id="loadingIndicator" style="display: none;-->
                                            <!--position: absolute;-->
                                            <!--border-radius: 8px;-->
                                            <!--text-align: center;-->
                                            <!--width: 150px;-->
                                            <!--left: 50%; right: 50%; top: 250px;-->
                                            <!--background-color: #efefef;-->
                                            <!--border: 1px solid #9e9e9e">-->
    <!--<img src="./Entreprenosis_files/loader.gif"><span> loading...</span>-->
<!--</div>-->


<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>

<!--Top bar-->
<!---->
<header class="header">

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-fixed-top" role="navigation" style="background-color: red;  color: #f9f9f9;">

        <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="lib/assets/img/entresis-logo.png" style="width: 287px; height: 50px;">


        <a style="font-size: 14px;color: black;align-content: center;">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            To get help, email: info@sigamkwane.co.za, phone: +27(0)11-027 2076/3216</a>
        <!-- Sidebar toggle button-->
        <a href="http://197.242.146.106/entreprenosis/#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>



        <div class="navbar-right">
            <ul class="nav navbar-nav">


            </ul>
        </div>
    </nav>
</header>
<!--Top bar-->
<div class="row" style="background:#000000; min-height: 700px;">


    <div class="col-sm-12 col-md-offset-1" style="background:#000000;">

        <div class="col-sm-4">
            <h1 style="color:#ffffff;" id="first" class="">Risk</h1>
        </div>
        <div class="col-sm-4">
            <h3 style="color:#ffffff;" id="second" class="">Success</h3>
        </div>
        <div class="col-sm-4">
            <h1 style="color:#ffffff;" id="third" class="">Profit</h1>
        </div>
        <div class="col-sm-4">
            <h1 style="color:#ffffff;" id="fourth" class="">Resilience</h1>
        </div>
        <div class="col-sm-4">
            <h1 style="color:#ffffff;" id="fifth" class="">Leadership</h1>
        </div>
        <div class="col-sm-4">
            <h3 style="color:#ffffff;" id="sixth" class="">Hustler</h3>
        </div>

    </div>

    <div class="col-sm-12 col-md-offset-1" style="background:#000000;">
        <div class="col-sm-3">
            <div class="row" style="background:#000000;">
                <br><h3 style="color:#ffffff;" id="seventh" class="">Independence</h3><br>
                <br><h3 style="color:#ffffff;" id="eighth" class="hinge animated">Confident</h3><br>
                <br><h3 style="color:#ffffff;" id="nineth" class="">Brave</h3><br>
                <br><h3 style="color:#ffffff;" id="tenth" class="hinge animated">Endurance</h3>
            </div>
        </div>

        <div class="col-sm-5" style="background:#000000;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color: black;">Sign In</h3>
                </div>
                <div class="panel-body">

                    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

                    <form name="form" ng-submit="vm.login()" role="form"
                          style="margin-bottom: 0px; background-color: #fff;"
                          class="form-horizontal well">
                    <!--<form id="loginForm" style="margin-bottom: 0px; background-color: #fff;"-->
                          <!--class="form-horizontal well"-->
                          <!--action="http://197.242.146.106/entreprenosis/j_spring_security_check"-->
                          <!--method="post">-->

                        <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="lib/assets/img/entresis-logo.png" style="width: 287px; height: 110px;">

                        <br><br>

                        <div class="alert alert-error" style="background-color: red; border-color: red; margin-right: 20px; margin-left: 10px;">
                            <h4><strong>Sign in!</strong> To access Entreprenosis you need to login</h4>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <!--<div class="form-group">-->
                            <label for="username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-7">
                                <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                                <!--<input type="text" class="form-control" id="username" value="" name="j_username" placeholder="Username" autocomplete="on">-->
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-7">
                                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                <!--<input type="password" class="form-control" id="password" name="j_password" value="" placeholder="Password">-->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <!--<button id="login" type="submit" style="color: black;" class="btn btn-primary btn-lg col-sm-3">Sign in &gt;&gt; </button>-->
                                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-danger">Login</button>
                                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                <!--<a href="#/register" class="btn btn-link">Register</a>-->
                            </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="panel-footer">

                </div>
            </div>

        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-3">
            <div class="row" style="background:#000000;">
                <br><h3 style="color:#ffffff;" id="11th" class="">Confident</h3><br>
                <br><h3 style="color:#ffffff;" id="12th" class="hinge animated">Independence</h3><br>
                <br><h3 style="color:#ffffff;" id="13th" class="">Resilience</h3><br>
                <br><h3 style="color:#ffffff;" id="14th" class="hinge animated">Endurance</h3>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-offset-1" style="background:#000000;">

        <div class="col-sm-4">
            <h1 style="color:#ffffff;" id="15th" class="">Independence</h1>
        </div>
        <div class="col-sm-4">
            <h3 style="color:#ffffff;" id="16th" class="hinge animated">Profit</h3>
        </div>
        <div class="col-sm-4">
            <h1 style="color:#ffffff;" id="17th" class="">Success</h1>
        </div>

    </div>

</div>

<footer class="bs-footer" role="contentinfo">
    <div class="container" style="color: #000000;">

        <p><b>Warning:</b> This computer program is protected by copyright law of South Africa and Siga Mkwane Consulting (PTY) LTD. </p>
        <p>Unauthorized reproduction or distribution of this program,</p>
        <p>or any portion of it may result in civil and criminal penalties and </p>
        <p>will be prosecuted to the maximum extend possible under the law. </p>


    </div>
</footer>

    <script>
        $(document).ready(function() {
            $(function() {
                function testAnim(element,x) {
                    $(element).removeClass().addClass(x + ' animated')
                            .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                $(this).removeClass();
                            });
                };

                var timerID = setInterval(function() {
                    testAnim('#first','bounceInDown');
                    testAnim('#second','bounceOutUp');
                    testAnim('#third','fadeInRightBig');
                    testAnim('#fourth','fadeOutLeftBig');
                    testAnim('#fifth','zoomOutDown');
                    testAnim('#sixth','lightSpeedIn');
                    testAnim('#seventh','rotateOut');
                    testAnim('#eighth','hinge');
                    testAnim('#nineth','rubberBand');
                    testAnim('#tenth','hinge');
                    testAnim('#11th','shake');
                    testAnim('#12th','hinge');
                    testAnim('#13th','tada');
                    testAnim('#14th','hinge');
                    testAnim('#15th','rotateInUpRight');
                    testAnim('#16th','hinge');
                    testAnim('#17th','slideInUp');
                    testAnim('#18th','rollOut');
                    testAnim('#19th','rubberBand');
                    testAnim('#20th','rollIn');
                }, 2000);

            });
        });
    </script>

</div>