<div class="skin-blue wysihtml5-supported pace-done font-size-large"
     style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">


    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div ng-include="'templates/home/businesis.header.html'"></div>
    <div ng-include="'templates/home/businesis.admin.menu.html'"></div>

    <aside class="right-side">


        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info" style="">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 28px; color: black;">
                                Administrator information
                            </h3>
                        </div>
                        <div class="panel-body" style="padding: 10px;">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <ul class="nav nav-pills cat-tabs">
                                        <li class="active ">
                                            <a
                                               data-toggle="tab" style="color: black;">
                                                <span class="glyphicon glyphicon-inbox"></span>
                                                Administrator details
                                            </a>
                                        </li>
                                    </ul>
                                    <hr style="background-color: #FF9900; border: 1px solid #FF9900;">

                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="business_details">
                                            <!-- Simple error tag -->
                                            <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

                                            <form class="form-horizontal " role="form"
                                                  ng-submit="vm.saveUser()"
                                                  method="POST"
                                                  data-toggle="validator"
                                                  style="margin-left: 20px;">
                                                <fieldset>
                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="fms-panel well">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="firstnames">
                                                                        First names
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="firstnames" ng-model="vm.user.firstName"
                                                                               type="text"
                                                                               placeholder="First names" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="surname">
                                                                        Surname
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="surname" ng-model="vm.user.surname"
                                                                               type="text"
                                                                               placeholder="Surname" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="idNumber">
                                                                        ID number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="idNumber" ng-model="vm.user.idNumber"
                                                                               type="text"
                                                                               placeholder="SA ID number" pattern="\d{13}"
                                                                               maxlength="13" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="email">
                                                                        Email
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input name="contact.email"
                                                                               type="email"
                                                                               placeholder="Email address"
                                                                               data-error="Email entered is not valid"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="cellphone">
                                                                        Cellphone
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input name="contact.cellNumber"
                                                                               type="text"
                                                                               placeholder="Cellphone" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <hr style="background-color: #bbb; border: 1px solid #bbb;">
                                                            </div>


                                                            <div class="fms-panel ">
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="email">
                                                                        Email
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="email" ng-model="vm.user.contact.email"
                                                                               type="email"
                                                                               placeholder="Email address"
                                                                               data-error="Email entered is not valid"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="workTelephone">
                                                                        Work telephone
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="workTelephone"
                                                                               ng-model="vm.user.contact.workNumber" type="text"
                                                                               value="" placeholder="Work telephone"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="homeTelephone">
                                                                        Home telephone
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="homeTelephone"
                                                                               ng-model="vm.user.contact.homeNumber" type="text"
                                                                               value="" placeholder="Home telephone"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="cellphone">
                                                                        Cellphone
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="cellphone" ng-model="vm.user.contact.cellNumber"
                                                                               type="text" value=""
                                                                               placeholder="Cellphone"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                            </div>


                                                        </div>


                                                        <div class="col-md-6">

                                                            <div class="fms-panel ">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="Street_address">
                                                                        Street address
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="Street_address"
                                                                               ng-model="vm.user.sAddress.address1" type="text"
                                                                               value="" placeholder="Street address"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="surburb">
                                                                        Surburb
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="surburb" ng-model="vm.user.sAddress.surburb"
                                                                               type="text" value=""
                                                                               placeholder="Surburb"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="city">
                                                                        City
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="city" ng-model="vm.user.sAddress.city"
                                                                               type="text" value="" placeholder="City"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="country">
                                                                        County
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="country" ng-model="vm.user.sAddress.country"
                                                                               type="text" value="" placeholder="County"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="code">
                                                                        Code
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="code" ng-model="vm.user.sAddress.addressCode"
                                                                               type="text" value="" placeholder="Code"
                                                                               pattern="\d{4}" maxlength="4"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="fms-panel ">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="p_address">
                                                                        Postal address
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_address" ng-model="vm.user.pAddress.address1"
                                                                               type="text" value=""
                                                                               placeholder="Address"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="p_surburb">
                                                                        Surburb
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_surburb" ng-model="vm.user.pAddress.surburb"
                                                                               type="text" value=""
                                                                               placeholder="Surburb"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="p_city">
                                                                        City
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_city" ng-model="vm.user.pAddress.city"
                                                                               type="text" value="" placeholder="City"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="p_country">
                                                                        County
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_country" ng-model="vm.user.pAddress.country"
                                                                               type="text" value="" placeholder="County"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="p_code">
                                                                        Code
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_code" ng-model="vm.user.pAddress.addressCode"
                                                                               type="text" value="" placeholder="Code"
                                                                               pattern="\d{4}" maxlength="4"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6">

                                                            <!-- form Group -->
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label" for="btn-grp1">
                                                                </label>

                                                                <div class="col-md-10  ">
                                                                    <div id="btn-grp1">
                                                                        <button
                                                                                name="saveBusinessPartner"
                                                                                style="font-size: 14px; color: black;  "
                                                                                type="submit"
                                                                                class="btn btn-primary btn-lg">
                                                                            Save Administrator
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>