<div class="skin-blue wysihtml5-supported pace-done font-size-large"
     style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">

    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div ng-include="'templates/home/businesis.header.html'"></div>
    <div ng-include="'templates/home/businesis.admin.menu.html'"></div>

    <aside class="right-side">
        <section class="content">

            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-info" style="">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 28px; color: black;">
                                Add New Company User
                            </h3>
                        </div>

                        <div class="panel-body" style="padding: 10px;">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <ul class="nav nav-pills cat-tabs">
                                        <li class="active ">
                                            <a
                                               data-toggle="tab" style="color: black;">
                                                <span class="glyphicon glyphicon-inbox"></span>
                                                Company User
                                            </a>
                                        </li>
                                    </ul>

                                    <hr style="background-color: #FF9900; border: 1px solid #FF9900;">

                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="user_details">

                                            <!-- Simple error tag -->
                                            <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>

                                            <form class="form-horizontal" role="form"
                                                  ng-submit="vm.saveCompanyUser()"
                                                  method="POST"
                                                  data-toggle="validator" style="margin-left: 20px;">
                                                <fieldset>

                                                    <div class="row">
                                                        <div class="col-sm-8 col-md-8">

                                                            <div class="fms-panel well">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="firstnames">
                                                                        First names
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="firstnames" ng-model="vm.companyUser.firstName"
                                                                               type="text"
                                                                               placeholder="First names" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="surname">
                                                                        Surname
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="surname" ng-model="vm.companyUser.surname"
                                                                               type="text"
                                                                               placeholder="Surname" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="idNumber">
                                                                        ID number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="idNumber" ng-model="vm.companyUser.idNumber"
                                                                               type="text"
                                                                               placeholder="ID number" pattern="\d{13}"
                                                                               maxlength="13" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="email">
                                                                        Email
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="email" ng-model="vm.companyUser.contactDetails.email"
                                                                               type="email"
                                                                               placeholder="Email address"
                                                                               data-error="Email entered is not valid"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="cellphone">
                                                                        Cellphone
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="cellphone" ng-model="vm.companyUser.contactDetails.cellNumber"
                                                                               type="text"
                                                                               placeholder="Cellphone" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <hr style="background-color: #bbb; border: 1px solid #bbb;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6">

                                                            <!-- form Group -->
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label" for="btn-grp1">
                                                                </label>
                                                                <div class="col-md-8  ">
                                                                    <div id="btn-grp1">
                                                                        <button
                                                                                style="font-size: 14px; color: black;"
                                                                                type="submit"
                                                                                class="btn btn-primary btn-lg">
                                                                            Send token
                                                                        </button>

                                                                        <!--<a type="button" name="add_new_users"-->
                                                                           <!--class="btn btn-primary btn-lg"-->
                                                                           <!--style="font-size: 14px; color: black; "-->
                                                                           <!--href="">-->
                                                                            <!--Cancel-->
                                                                        <!--</a>-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>

</div>