<div class="skin-blue wysihtml5-supported pace-done font-size-large"
     style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">


    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div ng-include="'templates/home/businesis.header.html'"></div>
    <div ng-include="'templates/home/businesis.admin.menu.html'"></div>

    <aside class="right-side">

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info" style="">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 28px; color: black;">
                                Company Diagnosis
                            </h3>
                        </div>
                        <div class="panel-body" style="padding: 10px;">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-pills cat-tabs">
                                        <li class="active ">
                                            <a
                                               data-toggle="tab" style="color: black;">
                                                <span class="glyphicon glyphicon-inbox"></span>
                                                Company Details
                                            </a>
                                        </li>
                                    </ul>
                                    <hr style="background-color: #FF9900; border: 1px solid #FF9900;">

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="business_details">
                                            <!-- Simple error tag -->
                                            <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

                                            <form ng-submit="vm.saveCompany()"
                                                  class="form-horizontal " role="form"
                                                  method="POST"
                                                  style="margin-left: 20px;">
                                                <fieldset>
                                                    <div class="row">
                                                        <!-- Left side -->
                                                        <div class="col-md-6">
                                                            <!-- Company details panel-->
                                                            <div class="fms-panel well">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="Companyname">
                                                                        Company name
                                                                    </label>

                                                                    <div class="col-md-8  ">
                                                                        <input id="Companyname"
                                                                               ng-model="vm.company.name"
                                                                               type="text"
                                                                               placeholder="Company name" required
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="Tradingas">
                                                                        Trading as
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="Tradingas"
                                                                               ng-model="vm.company.tradingAs"
                                                                               type="text"
                                                                               placeholder="Trading as"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="Registrationnumber">
                                                                        Registration number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="Registrationnumber" type="text"
                                                                               ng-model="vm.company.registrationNumber"
                                                                               placeholder="Registration number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>


                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Registration type
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.registartionType"
                                                                               placeholder="Registration type"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Date of registration
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <div class="input-group date datetimepicker"
                                                                             data-date-format="YYYY/MM/DD">
                                                                            <input type="text" class="form-control input-md" required
                                                                                   datepicker ng-model="vm.company.dateOfRegistration"/>
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon-calendar glyphicon"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Industry
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.industry"
                                                                               placeholder="Industry"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Years in Business
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.yearsInBusiness"
                                                                               placeholder="Years in Business"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Number of Employees
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.numberOfEmployees"
                                                                               placeholder="Number of Employees"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Annual Turnover
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.annualTurnover"
                                                                               placeholder="Annual Turnover"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Income Tax Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.incomeTaxNumber"
                                                                               placeholder="Income Tax Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        VAT Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.vatNumber"
                                                                               placeholder="VAT Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        PAYE Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.payeNumber"
                                                                               placeholder="PAYE Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        UIF Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.uifNumber"
                                                                               placeholder="UIF Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        COID Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.coidNumber"
                                                                               placeholder="COID Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Professional Standards Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.professionalStandardsNumber"
                                                                               placeholder="Professional Standards Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="beeContributer">
                                                                        BEE Contributor
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <select id="beeContributer"
                                                                                ng-model="vm.company.beeContributer"
                                                                                class="form-control">
                                                                            <option value="true">Yes</option>
                                                                            <option value="false">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        B-BBEE Certificate Number
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input type="text"
                                                                               ng-model="vm.company.bbbeeCertificateNumber"
                                                                               placeholder="B-BBEE Certificate Number"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                                <!-- form Group -->
                                                                <!--<div class="form-group">-->
                                                                    <!--<label class="col-md-3 control-label">-->
                                                                        <!--BBBEE Status Level-->
                                                                    <!--</label>-->
                                                                    <!--<div class="col-md-8  ">-->
                                                                        <!--<input type="text"-->
                                                                               <!--ng-model="vm.company.BBBEEStatusLevel"-->
                                                                               <!--placeholder="BBBEE Status Level"-->
                                                                               <!--class="form-control input-md">-->
                                                                    <!--</div>-->
                                                                <!--</div>-->

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="beeLevel">
                                                                        BEE Level
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <select id="beeLevel" ng-model="vm.company.bbbeeStatusLevel"
                                                                                class="form-control">
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="0">No a contributor</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <!-- BEE Panel details -->
                                                            <!--<div class="fms-panel ">-->
                                                            <!--</div>-->
                                                        </div>

                                                        <!-- R ight side -->
                                                        <div class="col-md-6">

                                                            <!-- Contact details panel-->
                                                            <div class="fms-panel ">
                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="email">
                                                                        Email
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="email" ng-model="vm.company.contactDetails.email"
                                                                               type="email"
                                                                               placeholder="Email address"
                                                                               data-error="Email entered is not valid"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>


                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="workTelephone">
                                                                        Work telephone
                                                                    </label>

                                                                    <div class="col-md-8  ">
                                                                        <input id="workTelephone"
                                                                               ng-model="vm.company.contactDetails.workNumber" type="text"
                                                                               placeholder="Work telephone"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="homeTelephone">
                                                                        Home telephone
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="homeTelephone"
                                                                               ng-model="vm.company.contactDetails.homeNumber" type="text"
                                                                               placeholder="Home telephone"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>


                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="cellphone">
                                                                        Cellphone
                                                                    </label>

                                                                    <div class="col-md-8  ">
                                                                        <input id="cellphone" ng-model="vm.company.contactDetails.cellNumber"
                                                                               type="text"
                                                                               placeholder="Cellphone"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>


                                                            </div>

                                                            <!-- Street address details -->
                                                            <div class="fms-panel ">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="Street_address">
                                                                        Street address
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="Street_address"
                                                                               ng-model="vm.company.address.sstreetName" type="text"
                                                                               placeholder="Street address"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="surburb">
                                                                        Surburb
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="surburb" ng-model="vm.company.address.ssuburb"
                                                                               type="text"
                                                                               placeholder="Surburb"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="city">
                                                                        City
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="city" ng-model="vm.company.address.stownCity"
                                                                               type="text" placeholder="City"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="country">
                                                                        County
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="country" ng-model="vm.company.address.scountry"
                                                                               type="text" placeholder="County"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="code">
                                                                        Code
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="code" ng-model="vm.company.address.spostalCode"
                                                                               type="text" placeholder="Code"
                                                                               pattern="\d{4}" maxlength="4"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Postal address details -->
                                                            <div class="fms-panel ">

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="p_address">
                                                                        Postal address
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_address" ng-model="vm.company.address.pstreetName"
                                                                               type="text"
                                                                               placeholder="Address"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="p_surburb">
                                                                        Surburb
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_surburb" ng-model="vm.company.address.psuburb"
                                                                               type="text"
                                                                               placeholder="Surburb"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="p_city">
                                                                        City
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_city" ng-model="vm.company.address.ptownCity"
                                                                               type="text" placeholder="City"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label"
                                                                           for="p_country">
                                                                        County
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_country" ng-model="vm.company.address.pcountry"
                                                                               type="text" placeholder="County"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>

                                                                <!-- form Group -->
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label" for="p_code">
                                                                        Code
                                                                    </label>
                                                                    <div class="col-md-8  ">
                                                                        <input id="p_code" ng-model="vm.company.address.ppostalCode"
                                                                               type="text" placeholder="Code"
                                                                               pattern="\d{4}" maxlength="4"
                                                                               class="form-control input-md">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3">
                                                            <!-- form Group -->
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label" for="btn-grp1">
                                                                </label>

                                                                <div class="col-md-10  ">
                                                                    <div id="btn-grp1">
                                                                        <button type="submit"
                                                                                ng-disabled="form.$invalid || vm.dataLoading"
                                                                                ng-click="vm.viewCompanyList(vm.bp)"
                                                                                name="saveBusinessPartner"
                                                                                style="font-size: 14px; color: black;"
                                                                                class="btn btn-primary btn-lg">
                                                                            Save company
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--<div class="col-sm-3 col-md-3">-->
                                                             <!-- -->
                                                            <!--<div class="form-group">-->
                                                                <!--<div class="col-md-12  ">-->
                                                                    <!--<div id="btn-grp2">-->
                                                                        <!--<button -->
                                                                                <!--ng-click="vm.viewCompanyList(vm.bp)"-->
                                                                                <!--name="saveBusinessPartner"-->
                                                                                <!--style="font-size: 14px; color: black;"-->
                                                                                <!--class="btn btn-primary btn-lg">-->
                                                                            <!--Save company-->
                                                                        <!--</button>-->
                                                                    <!--</div>-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->

                                                    </div>

                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>