<div class="skin-blue wysihtml5-supported pace-done font-size-large"
     style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">

    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%"
             data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div ng-include="'templates/home/businesis.header.html'"></div>
    <div ng-include="'templates/home/businesis.admin.menu.html'"></div>

    <aside class="right-side">

        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-info" style="">

                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 28px; color: black;">
                                Diagnosis Certificate for: {{vm.company.name}}

                            </h3>
                        </div>


                        <div class="panel-body" style="padding: 10px;">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <!-- Simple Form -->
                                    <form class="form-horizontal " id="saveDiagnosisReport_form" role="form"
                                          method="POST" data-toggle="validator" style="margin-left: 20px;">
                                        <fieldset>


                                            <div class="row">

                                                <div class="col-md-12">

                                                    <img data-src="holder.js/140x140" class="img-rounded" alt="140x140"
                                                         src="lib/assets/img/entresis-logo.png"
                                                         style="width: 287px; height: 110px;">


                                                    <hr style="background-color: #bbb; border: 1px solid #bbb;">

                                                    <h2> &nbsp;</h2>

                                                    <hr style="background-color: #bbb; border: 1px solid #bbb;">

                                                    <!--<div class="row">-->

                                                        <!--<br>-->
                                                        <!--<div class="panel panel-info" style="margin-right: 20px;">-->

                                                            <!--<div class="panel-heading">-->
                                                                <!--<h3 class="panel-title"-->
                                                                    <!--style="font-size: 28px; color: black;">-->
                                                                    <!--Personal details-->

                                                                <!--</h3>-->
                                                            <!--</div>-->

                                                            <!--<div class="panel-body" style="padding: 10px;">-->

                                                                <!--<div class="row">-->
                                                                    <!--<div class="col-sm-12 col-md-12">-->

                                                                        <!--<div class="col-md-6">-->

                                                                            <!--<table class="table table-striped displayTable">-->
                                                                                <!--<tbody>-->
                                                                                <!--<tr>-->
                                                                                    <!--<td style="width: 30px;"></td>-->
                                                                                    <!--<td style="font-weight: bold;">-->
                                                                                        <!--Gender-->
                                                                                    <!--</td>-->
                                                                                    <!--<td>Female</td>-->
                                                                                <!--</tr>-->
                                                                                <!--<tr>-->
                                                                                    <!--<td></td>-->
                                                                                    <!--<td style="font-weight: bold;">ID-->
                                                                                        <!--Number-->
                                                                                    <!--</td>-->
                                                                                    <!--<td>7811181233360</td>-->
                                                                                <!--</tr>-->
                                                                                <!--<tr>-->
                                                                                    <!--<td></td>-->
                                                                                    <!--<td style="font-weight: bold;">Cell-->
                                                                                        <!--Number-->
                                                                                    <!--</td>-->
                                                                                    <!--<td>27728030942</td>-->
                                                                                <!--</tr>-->
                                                                                <!--<tr>-->
                                                                                    <!--<td></td>-->
                                                                                    <!--<td style="font-weight: bold;">-->
                                                                                        <!--Email-->
                                                                                    <!--</td>-->
                                                                                    <!--<td>adochiny@gmail.com</td>-->
                                                                                <!--</tr>-->

                                                                                <!--</tbody>-->
                                                                            <!--</table>-->
                                                                        <!--</div>-->


                                                                    <!--</div>-->
                                                                <!--</div>-->

                                                            <!--</div>-->


                                                        <!--</div>-->


                                                    <!--</div>-->

                                                    <div class="row">


                                                        <div class="panel panel-info" style="margin-right: 20px;">


                                                            <div class="panel-heading">
                                                                <h3 class="panel-title"
                                                                    style="font-size: 28px; color: black;">
                                                                    Company details
                                                                </h3>
                                                            </div>

                                                            <div class="panel-body" style="padding: 10px;">

                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <div class="col-md-6">
                                                                            <table class="table table-striped displayTable">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="width: 30px;"></td>
                                                                                        <td style="font-weight: bold;">
                                                                                            Company Name
                                                                                        </td>
                                                                                        <td>{{vm.company.name}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                        <td style="font-weight: bold;">
                                                                                            Trading As
                                                                                        </td>
                                                                                        <td>{{vm.company.tradingAs}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                        <td style="font-weight: bold;">
                                                                                            Registration Number
                                                                                        </td>
                                                                                        <td>{{vm.company.registrationNumber}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                        <td style="font-weight: bold;">
                                                                                            Year Of Registration
                                                                                        </td>
                                                                                        <td>{{vm.company.yearOfRegistration}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                        <td style="font-weight: bold;">
                                                                                            Years in Business
                                                                                        </td>
                                                                                        <td>{{vm.company.yearsInBusiness}}</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <!--<h3>Character Diagnosis</h3>-->
                                                            <!--<table class="table table-striped displayTable">-->
                                                                <!--<tbody>-->
                                                                <!--<tr>-->
                                                                    <!--<td style="width: 30px;"></td>-->
                                                                    <!--<td style="font-weight: bold;">Character Type</td>-->
                                                                    <!--<td>Not yet started business</td>-->

                                                                <!--</tr>-->
                                                                <!--</tbody>-->
                                                            <!--</table>-->

                                                            <!--diagnose Governance-->
                                                            <!--diagnose TaxCompliance-->
                                                            <!--diagnose Labour-->
                                                            <!--diagnose SafetyHealth-->
                                                            <!--diagnose Standards-->
                                                            <!--diagnose BBBEE Broad Based Black Economic Empowerment (B-BBEE)-->
                                                            <!--diagnose Production-->
                                                            <!--diagnose SalesMarketing-->
                                                            <!--diagnose InformationTechnology-->
                                                            <!--diagnose FinancialControlsManagement-->
                                                            <!--diagnose IntellectualProperty-->
                                                            <!--diagnose RiskManagement-->
                                                            <!--diagnose TechnicalSiteVisit-->

                                                            <hr style="background-color: #bbb; border: 1px solid #bbb;">

                                                            <h3>Business Skills Diagnosis</h3>
                                                            <table class="table table-striped displayTable">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.Governance.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.Governance.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.TaxCompliance.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.TaxCompliance.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.Labour.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.Labour.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.SafetyHealth.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.SafetyHealth.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.Standards.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.Standards.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.BBBEE.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.BBBEE.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.Production.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.Production.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.SalesMarketing.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.SalesMarketing.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.InformationTechnology.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.InformationTechnology.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.FinancialControlsManagement.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.FinancialControlsManagement.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.IntellectualProperty.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.IntellectualProperty.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.RiskManagement.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.RiskManagement.description}}</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width: 30px;"></td>
                                                                        <td style="font-weight: bold;">
                                                                            {{vm.companyCert.TechnicalSiteVisit.companySection}}
                                                                        </td>
                                                                        <td>{{vm.companyCert.TechnicalSiteVisit.description}}</td>

                                                                    </tr>
                                                                    <!--<tr>-->
                                                                        <!--<td style="width: 30px;"></td>-->
                                                                        <!--<td style="font-weight: bold;">Financial-->
                                                                            <!--Management-->
                                                                        <!--</td>-->
                                                                        <!--<td>50:50</td>-->

                                                                    <!--</tr>-->

                                                                    <!--diagnose IntellectualProperty-->
                                                                    <!--diagnose RiskManagement-->
                                                                    <!--diagnose TechnicalSiteVisit-->

                                                                </tbody>
                                                            </table>

                                                            <hr style="background-color: #bbb; border: 1px solid #bbb;">

                                                            <!--<h3>Entrepreneurial Traits Diagnosis</h3>-->
                                                            <!--<table class="table table-striped displayTable">-->
                                                                <!--<tbody>-->
                                                                <!--<tr>-->
                                                                    <!--<td style="width: 30px;"></td>-->
                                                                    <!--<td style="font-weight: bold;">Rating</td>-->
                                                                    <!--<td>50:50</td>-->

                                                                <!--</tr>-->
                                                                <!--</tbody>-->
                                                            <!--</table>-->

                                                        </div>

                                                        <!--<div class="col-md-5">-->
                                                        <!--</div>-->
                                                    </div>


                                                    <hr style="background-color: #bbb; border: 1px solid #bbb;">

                                                    <h3>Interpreted Results</h3>
                                                    <!-- Textarea -->
                                                    <textarea id="intpretedResults" rows="10"
                                                              name="assReport.interpretation"
                                                              class="form-control input-md"></textarea>
                                                    <div id="counter">You have <strong></strong> remaining</div>

                                                </div>
                                            </div>

                                            <br>

                                            <div class="row">

                                                <div class="col-sm-6 col-md-6">
                                                    <!-- form Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-0 control-label" for="btn-grp1">
                                                        </label>
                                                        <div class="col-md-10  ">
                                                            <!-- Simple Button group -->
                                                            <div id="btn-grp1">
                                                                <button id="saveDiagnosisReport_btn"
                                                                        name="saveDiagnosisReport"
                                                                        style="font-size: 14px; color: black;  "
                                                                        class="btn btn-primary btn-lg">
                                                                    View Certificate
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>

    <script type="text/javascript">
        $(document).ready(function() {
            var chars = 2600;
            var maxchars = chars-50;
            var remaining = maxchars - $('#intpretedResults').val().length;
            $("#counter").append("You have <strong>" + remaining +"</strong> remaining ");


            $('#intpretedResults').keyup(function() {
                if ($(this).val().length > maxchars) {
                    $(this).val( $(this).val().substr(0, maxchars));
                }
                remaining = maxchars - $(this).val().length;
                $("#counter").html("You have <strong>" + remaining +"</strong> remaining ");
                // console.log("Text box value = : " + $("#intpretedResults").val());
                $('#interpretaion').val($("#intpretedResults").val());

            });

            //JQuery stop user from adding more than 2600 letters.
        });
    </script>

</div>