<div class="skin-blue wysihtml5-supported pace-done font-size-large"
     style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">

    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div ng-include="'templates/home/businesis.header.html'"></div>
    <div ng-include="'templates/home/businesis.admin.menu.html'"></div>

    <aside class="right-side">

        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-info" style="">

                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 28px; color: black;">
                                Business skills diagnosis
                            </h3>
                        </div>

                        <div class="panel-body" style="padding: 10px;">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-pills cat-tabs">

                                        <!--Governance-->
                                        <!--Tax Compliance-->
                                        <!--Labour-->
                                        <!--Safety and Health-->
                                        <!--Standards-->
                                        <!--Broad Based Black Economic Empowerment (B-BBEE)-->
                                        <!--Production-->
                                        <!--Sales and Marketing-->
                                        <!--Information Technology-->
                                        <!--Financial Controls and Management-->
                                        <!--Technical – Site Visit-->
                                        <!--Intellectual Property-->
                                        <!--Risk Management-->

                                        <li class=" active">
                                            <a
                                               data-toggle="tab" style="color: black;">
                                                <span class="glyphicon glyphicon-inbox"></span>
                                                Production
                                            </a>
                                        </li>
                                    </ul>

                                    <hr style="background-color: #FF9900; border: 1px solid #FF9900;">

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active">
                                            <!-- Simple error tag -->

                                            <!-- Simple Form -->
                                            <form class="form-horizontal"
                                                  ng-submit="vm.saveProduction()"
                                                  method="POST" role="form"
                                                  data-toggle="validator"
                                                  style="margin-left: 20px;">

                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-8">

                                                            <div class="fms-panel well">

                                                                <!-- form Group 1-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        1. Are production manuals in place?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q1" name="q1"
                                                                                    ng-model="vm.Production.q1"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q1.$dirty && form.q1.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 2-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        2. Are safety, environmental and quality standards complied with?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q2" name="q2"
                                                                                    ng-model="vm.Production.q2"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q2.$dirty && form.q2.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 3-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        3. Do you have machines, plant and equipment?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q3" name="q3"
                                                                                    ng-model="vm.Production.q3"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q3.$dirty && form.q3.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 4-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        4. Do you have a place to work from?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q4" name="q4"
                                                                                    ng-model="vm.Production.q4"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q4.$dirty && form.q4.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 5-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        5. Do you have quality assurance programs or systems?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q5" name="q5"
                                                                                    ng-model="vm.Production.q5"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q5.$dirty && form.q5.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 6-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        6. Do you have service and maintenance plan?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q6" name="q6"
                                                                                    ng-model="vm.Production.q6"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q6.$dirty && form.q6.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 7-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        7. Do you have a documented product ingredients and identification?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q7" name="q7"
                                                                                    ng-model="vm.Production.q7"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q7.$dirty && form.q7.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 8-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        8. Do you have a waste identification and management program in place?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q8" name="q8"
                                                                                    ng-model="vm.Production.q8"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q8.$dirty && form.q8.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 9-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        9. Do you have documented work instructions and guidelines?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q9" name="q9"
                                                                                    ng-model="vm.Production.q9"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q9.$dirty && form.q9.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 10-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        10. Do you have project management programs or systems?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q10" name="q10"
                                                                                    ng-model="vm.Production.q10"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q10.$dirty && form.q10.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 11-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        11. Does your production system have a tracking and labelling?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q11" name="q11"
                                                                                    ng-model="vm.Production.q11"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q11.$dirty && form.q11.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <!-- form Group 12-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        12. Do you have vehicles tracking and usage system?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q12" name="q12"
                                                                                    ng-model="vm.Production.q12"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q12.$dirty && form.q12.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>


                                                            </div>

                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6">


                                                            <!-- form Group -->
                                                            <div class="form-group">
                                                                <label class="col-md-0 control-label" for="btn-grp1">
                                                                </label>
                                                                <div class="col-md-10  ">
                                                                    <div id="btn-grp1">
                                                                        <button
                                                                                name="saveMarketingAssessment"
                                                                                style="font-size: 14px; color: black;"
                                                                                type="submit"
                                                                                class="btn btn-primary btn-lg">
                                                                            Next> Sales and Marketing Diagnosis
                                                                        </button>


                                                                    </div>


                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>


                                                </fieldset>
                                            </form>

                                        </div>


                                    </div>


                                </div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </section>
    </aside>
</div>