<div class="skin-blue wysihtml5-supported pace-done font-size-large"
     style="margin-top: 50px; min-height: 1172px; font-size: 14px; background: rgb(249, 249, 249);">

    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div ng-include="'templates/home/businesis.header.html'"></div>
    <div ng-include="'templates/home/businesis.user.menu.html'"></div>

    <aside class="right-side">

        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-info" style="">

                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 28px; color: black;">
                                Business skills diagnosis
                            </h3>
                        </div>

                        <div class="panel-body" style="padding: 10px;">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-pills cat-tabs">

                                        <!--Governance-->
                                        <!--Tax Compliance-->
                                        <!--Labour-->
                                        <!--Safety and Health-->
                                        <!--Standards-->
                                        <!--Broad Based Black Economic Empowerment (B-BBEE)-->
                                        <!--Production-->
                                        <!--Sales and Marketing-->
                                        <!--Information Technology-->
                                        <!--Financial Controls and Management-->
                                        <!--Technical – Site Visit-->
                                        <!--Intellectual Property-->
                                        <!--Risk Management-->

                                        <li class=" active">
                                            <a href=""
                                               data-toggle="tab" style="color: black;">
                                                <span class="glyphicon glyphicon-inbox"></span>
                                                Standards
                                            </a>
                                        </li>
                                    </ul>

                                    <hr style="background-color: #FF9900; border: 1px solid #FF9900;">

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active">
                                            <!-- Simple error tag -->

                                            <!-- Simple Form -->
                                            <form class="form-horizontal"
                                                  ng-submit="vm.saveStandards()"
                                                  method="POST" role="form"
                                                  data-toggle="validator"
                                                  style="margin-left: 20px;">

                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-8">

                                                            <div class="fms-panel well">

                                                                <!-- form Group 1-->
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">
                                                                        1. Does the company comply with industry standards?
                                                                    </label>

                                                                    <div class="col-md-6  ">
                                                                        <div class="col-md-6">
                                                                            <select id="q1" name="q1"
                                                                                    ng-model="vm.Standards.q1"
                                                                                    ng-options="opt.optionId as opt.optionName for opt in vm.diagnosisOpts"
                                                                                    class="form-control" required>
                                                                                <option value="">Please select </option>
                                                                            </select>
                                                                        </div>
                                                                        <span class="help-inline col-md-6"
                                                                              ng-show="form.q1.$dirty && form.q1.$error.required">
                                                                            <span class="middle">Value is required</span>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6">


                                                            <!-- form Group -->
                                                            <div class="form-group">
                                                                <label class="col-md-0 control-label" for="btn-grp1">
                                                                </label>

                                                                <div class="col-md-10  ">
                                                                    <div id="btn-grp1">
                                                                        <button
                                                                                name="saveMarketingAssessment"
                                                                                style="font-size: 14px; color: black;"
                                                                                type="submit"
                                                                                class="btn btn-primary btn-lg">
                                                                            Next> Broad Based Black Economic Empowerment (B-BBEE) Diagnosis
                                                                        </button>


                                                                    </div>


                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>


                                                </fieldset>
                                            </form>

                                        </div>


                                    </div>


                                </div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </section>
    </aside>
</div>