<div ng-include="'templates/home/sidebar.html'"></div>

<div class="main-content">
    <div class="main-content-inner">

        <div ng-include="'templates/home/breadcrumbs.html'"></div>

        <div class="page-content">
            <!-- #section:settings.box -->

            <!-- /section:settings.box -->
            <div class="row form-bg-color">
                <div class="col-xs-12">

                    <div class="col-sm-10">


                    <!-- PAGE CONTENT START -->

                        <h3 class="row header smaller lighter blue">
                            <span class="col-xs-6"> Add/Edit Asset Model Details  </span><!-- /.col -->
                        </h3>

                        <form name="form" role="form" ng-submit="vm.saveAssetModel()" >

                            <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                            <flash:messages></flash:messages>

                            <div>

                                <accordion class="accordion-style1 panel-group" close-others="vm.oneAtATime">
                                    <!-- is-open="vm.status.isFirstOpen" -->
                                    <accordion-group is-open="vm.status.firstOpen" is-disabled="vm.status.isFirstDisabled">
                                        <accordion-heading>
                                            Asset Model Details
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.status.firstOpen, 'glyphicon-chevron-right': !vm.status.firstOpen}"></i>
                                        </accordion-heading>

                                        <div class="form-horizontal">

                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx START xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

                                            <!-- private Long assetModelId;-->
                                            <!-- private String modelNumber;-->
                                            <!-- Veriton 3900Pro-->
                                            <!-- private String modelName;-->
                                            <!-- private String description;-->


                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modelNumber xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
                                            <div class="form-group" ng-class="{ 'has-error': form.modelNumber.$dirty && form.modelNumber.$error.required }">
                                                <label class="col-sm-2 control-label no-padding-left" for="modelNumber">
                                                    Asset Model Number
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="col-xs-10 col-sm-5"
                                                           type="text" id="modelNumber"
                                                           name="modelNumber"
                                                           ng-model="vm.assetModel.modelNumber" required />

                                                    <span class="help-inline col-xs-12 col-sm-7"
                                                          ng-show="form.modelNumber.$dirty && form.modelNumber.$error.required">
                                                        <span class="middle">Asset Model Number is required</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--private String modelName;-->
                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modelName xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
                                            <div class="form-group" ng-class="{ 'has-error': form.modelName.$dirty && form.modelName.$error.required }">
                                                <label class="col-sm-2 control-label no-padding-left" for="modelName">
                                                    Name
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="col-xs-10 col-sm-5"
                                                           type="text" id="modelName"
                                                           name="modelName"
                                                           ng-model="vm.assetModel.modelName" required />

                                                    <span class="help-inline col-xs-12 col-sm-7"
                                                          ng-show="form.modelName.$dirty && form.modelName.$error.required">
                                                        <span class="middle">Name is required</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--private String description;-->
                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx description xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
                                            <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                                                <label class="col-sm-2 control-label no-padding-left" for="description">
                                                    Description
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="col-xs-10 col-sm-5"
                                                           type="text" id="description"
                                                           name="description"
                                                           ng-model="vm.assetModel.description" required />

                                                    <span class="help-inline col-xs-12 col-sm-7"
                                                          ng-show="form.description.$dirty && form.description.$error.required">
                                                        <span class="middle">Description is required</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx End xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

                                        </div> <!-- end of form horizontal -->

                                    </accordion-group>

                                </accordion>

                                <!--<p>-->
                                    <!--<button class="btn btn-default btn-sm" ng-click="vm.status.open = !status.open">Toggle last panel</button>-->
                                    <!--<button class="btn btn-default btn-sm" ng-click="vm.status.isFirstDisabled = !vm.status.isFirstDisabled">Enable / Disable first panel</button>-->
                                <!--</p>-->

                                <div class="form-actions">

                                    <button type="submit" class="btn btn-danger btn-sm"
                                            ng-disabled="form.$invalid || vm.dataLoading">
                                        Save Asset Model Details
                                    </button>
                                    <button ng-click="vm.navigateToPage('viewAssetModelList')" class="btn btn-danger btn-mini">
                                        Back to Asset Model List
                                    </button>

                                    <img ng-if="vm.dataLoading"
                                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    <!--<a href="#/viewUserList" class="btn btn-link">Cancel</a>-->
                                    <!---->
                                </div>

                            </div>

                        </form>

                    <!-- PAGE CONTENT ENDS -->

                    </div>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>

</div><!-- /.main-content -->

